<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>NIM Game - rule</title>
</head>

<body>
    <div class="d-flex justify-content-center mt-3 row">
        <h1>Rule of NIM-like game</h1>
    </div>
    <div class="d-flex justify-content-center mt-3 row">
        <a href={{ url_for( 'play' ) }}>
            <button type="button" class="btn btn-success row mr-1">Play</button>
        </a>

        <a href={{ url_for( 'rule' ) }}>
            <button type="button " class="btn btn-warning ">Rule</button>
        </a>
    </div>

    <div class="justify-content-center mt-8 row ">
        <p>
            <b>First, There are two piles with random number of counters separately. <br>
            Then, the players can start removing the counters in turns. <br>
            Players can remove the counters by one of three following ways:</b>
        </p>
    </div>

    <div class="justify-content-center mt-8 row ">
        <ul>
            <li>Remove at least one stone in one of the pile.</li>
            <li>The number of lefts must be evenly divided by the original amount.</li>
            <li>The one who remove the last counter win the game. </li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx " crossorigin="anonymous "></script>


</body>

</html>